body{
  min-height: 100vh;
  background-color: rgb(253, 247, 241);
  font-family: monospace;
}

body,html {
  padding : 0 ;
  margin : 0 
}



.container{
  display: flex;
  justify-content: center;
  align-items: start;


}

.left_section{
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px

}


.right_section{
  padding: 10px;
  margin-top: 10px;
  width: 30vw;
  display : grid ; 
  grid-template-columns: repeat(auto-fit,minmax(60px,100px));
  grid-template-rows: repeat(3,minmax(100px,100px));
  gap:10px;
  border : 4px solid blue ; 
  height: auto;
  box-sizing: content-box;
  
}